## iPhone 6 tests - iOS 9.1 - SQLite

```
Inserted 500 items in 0.0442 sec
Deleted all records in 0.0078 sec
Inserted 500 items in 0.0815 sec
Deleted all records in 0.0113 sec
Inserted 500 items in 0.0354 sec
Deleted all records in 0.0042 sec
Inserted 500 items in 0.0324 sec
Deleted all records in 0.0046 sec
Inserted 500 items in 0.0900 sec
Deleted all records in 0.0591 sec

Inserted 5000 items in 0.4747 sec
Deleted all records in 0.0091 sec
Inserted 5000 items in 0.2887 sec
Deleted all records in 0.0105 sec
Inserted 5000 items in 0.3099 sec
Deleted all records in 0.0067 sec
Inserted 5000 items in 0.3573 sec
Deleted all records in 0.0100 sec
Inserted 5000 items in 0.3191 sec
Deleted all records in 0.0097 sec

Inserted 50000 items in 2.9586 sec
Deleted all records in 0.0104 sec
Inserted 50000 items in 3.1409 sec
Deleted all records in 0.0831 sec
Inserted 50000 items in 3.0384 sec
Deleted all records in 0.0111 sec
Inserted 50000 items in 3.2300 sec
Deleted all records in 0.0523 sec
Inserted 50000 items in 3.0658 sec
Deleted all records in 0.0113 sec
```

## iPhone 6 tests - iOS 9.1 - in memory store

```
Inserted 500 items in 0.0203 sec
Deleted all records in 0.0315 sec
Inserted 500 items in 0.0396 sec
Deleted all records in 0.0813 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0298 sec
Inserted 500 items in 0.0122 sec
Deleted all records in 0.0296 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0284 sec

Inserted 5000 items in 0.1692 sec
Deleted all records in 0.5220 sec
Inserted 5000 items in 0.1245 sec
Deleted all records in 0.3074 sec
Inserted 5000 items in 0.1231 sec
Deleted all records in 0.3035 sec
Inserted 5000 items in 0.1226 sec
Deleted all records in 0.2985 sec
Inserted 5000 items in 0.1631 sec
Deleted all records in 0.5274 sec

Inserted 50000 items in 1.3383 sec
Deleted all records in 3.9365 sec
Inserted 50000 items in 1.3088 sec
Deleted all records in 3.3325 sec
Inserted 50000 items in 1.2992 sec
Deleted all records in 3.3120 sec
Inserted 50000 items in 1.3170 sec
Deleted all records in 3.9614 sec
Inserted 50000 items in 1.3316 sec
Deleted all records in 3.3838 sec
```

## iPod Touch 5 tests - iOS 8.4.1 - SQLite

```
Inserted 500 items in 0.1674 sec
Deleted all records in 0.2273 sec
Inserted 500 items in 0.1496 sec
Deleted all records in 0.2185 sec
Inserted 500 items in 0.1449 sec
Deleted all records in 0.2222 sec
Inserted 500 items in 0.1464 sec
Deleted all records in 0.2202 sec
Inserted 500 items in 0.1502 sec
Deleted all records in 0.2199 sec

Inserted 5000 items in 1.4556 sec
Deleted all records in 2.0707 sec
Inserted 5000 items in 1.4340 sec
Deleted all records in 2.0750 sec
Inserted 5000 items in 1.4175 sec
Deleted all records in 2.0798 sec
Inserted 5000 items in 1.4448 sec
Deleted all records in 2.0897 sec
Inserted 5000 items in 1.4409 sec
Deleted all records in 2.0836 sec

Inserted 50000 items in 21.8500 sec
Deleted all records in 26.2300 sec
Inserted 50000 items in 14.5263 sec
Deleted all records in 25.1672 sec
Inserted 50000 items in 14.7489 sec
Deleted all records in 25.4011 sec
Inserted 50000 items in 15.0667 sec
Deleted all records in 26.2586 sec
Inserted 50000 items in 14.6057 sec
Deleted all records in 26.0189 sec
```

## iPod Touch 5 tests - iOS 8.4.1 - in memory store