## iPhone 6 tests - iOS 9.1 -  SQLite

```
Inserted 500 items in 0.0442 sec
Deleted all records in 0.0078 sec
Inserted 500 items in 0.0815 sec
Deleted all records in 0.0113 sec
Inserted 500 items in 0.0354 sec
Deleted all records in 0.0042 sec
Inserted 500 items in 0.0324 sec
Deleted all records in 0.0046 sec
Inserted 500 items in 0.0900 sec
Deleted all records in 0.0591 sec

Inserted 5000 items in 0.4747 sec
Deleted all records in 0.0091 sec
Inserted 5000 items in 0.2887 sec
Deleted all records in 0.0105 sec
Inserted 5000 items in 0.3099 sec
Deleted all records in 0.0067 sec
Inserted 5000 items in 0.3573 sec
Deleted all records in 0.0100 sec
Inserted 5000 items in 0.3191 sec
Deleted all records in 0.0097 sec

Inserted 50000 items in 2.9586 sec
Deleted all records in 0.0104 sec
Inserted 50000 items in 3.1409 sec
Deleted all records in 0.0831 sec
Inserted 50000 items in 3.0384 sec
Deleted all records in 0.0111 sec
Inserted 50000 items in 3.2300 sec
Deleted all records in 0.0523 sec
Inserted 50000 items in 3.0658 sec
Deleted all records in 0.0113 sec
```

## iPhone 6 tests - iOS 9.1 - in memory store

```
Inserted 500 items in 0.0203 sec
Deleted all records in 0.0315 sec
Inserted 500 items in 0.0396 sec
Deleted all records in 0.0813 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0298 sec
Inserted 500 items in 0.0122 sec
Deleted all records in 0.0296 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0284 sec

Inserted 5000 items in 0.1692 sec
Deleted all records in 0.5220 sec
Inserted 5000 items in 0.1245 sec
Deleted all records in 0.3074 sec
Inserted 5000 items in 0.1231 sec
Deleted all records in 0.3035 sec
Inserted 5000 items in 0.1226 sec
Deleted all records in 0.2985 sec
Inserted 5000 items in 0.1631 sec
Deleted all records in 0.5274 sec

Inserted 50000 items in 1.3383 sec
Deleted all records in 3.9365 sec
Inserted 50000 items in 1.3088 sec
Deleted all records in 3.3325 sec
Inserted 50000 items in 1.2992 sec
Deleted all records in 3.3120 sec
Inserted 50000 items in 1.3170 sec
Deleted all records in 3.9614 sec
Inserted 50000 items in 1.3316 sec
Deleted all records in 3.3838 sec
```