## iPhone 6 tests - iOS 9.1 - SQLite

```
Inserted 500 items in 0.0442 sec
Deleted all records in 0.0078 sec
Inserted 500 items in 0.0815 sec
Deleted all records in 0.0113 sec
Inserted 500 items in 0.0354 sec
Deleted all records in 0.0042 sec
Inserted 500 items in 0.0324 sec
Deleted all records in 0.0046 sec
Inserted 500 items in 0.0900 sec
Deleted all records in 0.0591 sec

Inserted 5000 items in 0.4747 sec
Deleted all records in 0.0091 sec
Inserted 5000 items in 0.2887 sec
Deleted all records in 0.0105 sec
Inserted 5000 items in 0.3099 sec
Deleted all records in 0.0067 sec
Inserted 5000 items in 0.3573 sec
Deleted all records in 0.0100 sec
Inserted 5000 items in 0.3191 sec
Deleted all records in 0.0097 sec

Inserted 50000 items in 2.9586 sec
Deleted all records in 0.0104 sec
Inserted 50000 items in 3.1409 sec
Deleted all records in 0.0831 sec
Inserted 50000 items in 3.0384 sec
Deleted all records in 0.0111 sec
Inserted 50000 items in 3.2300 sec
Deleted all records in 0.0523 sec
Inserted 50000 items in 3.0658 sec
Deleted all records in 0.0113 sec
```

## iPhone 6 tests - iOS 9.1 - in memory store

```
Inserted 500 items in 0.0203 sec
Deleted all records in 0.0315 sec
Inserted 500 items in 0.0396 sec
Deleted all records in 0.0813 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0298 sec
Inserted 500 items in 0.0122 sec
Deleted all records in 0.0296 sec
Inserted 500 items in 0.0119 sec
Deleted all records in 0.0284 sec

Inserted 5000 items in 0.1692 sec
Deleted all records in 0.5220 sec
Inserted 5000 items in 0.1245 sec
Deleted all records in 0.3074 sec
Inserted 5000 items in 0.1231 sec
Deleted all records in 0.3035 sec
Inserted 5000 items in 0.1226 sec
Deleted all records in 0.2985 sec
Inserted 5000 items in 0.1631 sec
Deleted all records in 0.5274 sec

Inserted 50000 items in 1.3383 sec
Deleted all records in 3.9365 sec
Inserted 50000 items in 1.3088 sec
Deleted all records in 3.3325 sec
Inserted 50000 items in 1.2992 sec
Deleted all records in 3.3120 sec
Inserted 50000 items in 1.3170 sec
Deleted all records in 3.9614 sec
Inserted 50000 items in 1.3316 sec
Deleted all records in 3.3838 sec
```

## iPod Touch 5 tests - iOS 8.4.1 - SQLite

```
Inserted 500 items in 0.1519 sec
Deleted all records in 0.2230 sec
Inserted 500 items in 0.1495 sec
Deleted all records in 0.2233 sec
Inserted 500 items in 0.1541 sec
Deleted all records in 0.2254 sec
Inserted 500 items in 0.1558 sec
Deleted all records in 0.2214 sec
Inserted 500 items in 0.1457 sec
Deleted all records in 0.2261 sec

Inserted 5000 items in 1.4556 sec
Deleted all records in 2.0707 sec
Inserted 5000 items in 1.4340 sec
Deleted all records in 2.0750 sec
Inserted 5000 items in 1.4175 sec
Deleted all records in 2.0798 sec
Inserted 5000 items in 1.4448 sec
Deleted all records in 2.0897 sec
Inserted 5000 items in 1.4409 sec
Deleted all records in 2.0836 sec

Inserted 50000 items in 21.8500 sec
Deleted all records in 26.2300 sec
Inserted 50000 items in 14.5263 sec
Deleted all records in 25.1672 sec
Inserted 50000 items in 14.7489 sec
Deleted all records in 25.4011 sec
Inserted 50000 items in 15.0667 sec
Deleted all records in 26.2586 sec
Inserted 50000 items in 14.6057 sec
Deleted all records in 26.0189 sec
```

## iPod Touch 5 tests - iOS 8.4.1 - in memory store

```
Inserted 500 items in 0.0704 sec
Deleted all records in 0.1294 sec
Inserted 500 items in 0.0698 sec
Deleted all records in 0.1188 sec
Inserted 500 items in 0.0721 sec
Deleted all records in 0.1179 sec
Inserted 500 items in 0.0711 sec
Deleted all records in 0.1188 sec
Inserted 500 items in 0.0710 sec
Deleted all records in 0.1185 sec

Inserted 5000 items in 0.6907 sec
Deleted all records in 1.1591 sec
Inserted 5000 items in 0.6926 sec
Deleted all records in 1.1624 sec
Inserted 5000 items in 0.6866 sec
Deleted all records in 1.1863 sec
Inserted 5000 items in 0.6882 sec
Deleted all records in 1.1660 sec
Inserted 5000 items in 0.6946 sec
Deleted all records in 1.1716 sec

Inserted 50000 items in 6.8599 sec
Deleted all records in 22.1012 sec
Inserted 50000 items in 6.7862 sec
Deleted all records in 30.7028 sec
Inserted 50000 items in 6.7736 sec
Deleted all records in 21.7182 sec
Inserted 50000 items in 6.8406 sec
Deleted all records in 28.2242 sec
Inserted 50000 items in 6.7798 sec
Deleted all records in 23.6118 sec
```
